name: Build and Publish the Book

on:
  push:
    branches:
      - '*'
    tags:
      - '!**'
  pull_request:
  workflow_dispatch:

jobs:
  xml-translation:
    name: Translate XML (zh_CN)
    runs-on: ubuntu-22.04
    steps:
      - name: Prepare
        run: |
          sudo apt update
          sudo apt install gettext python3-polib po4a
          echo "MAKEFLAGS=-j2" >> $GITHUB_ENV
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Update po Files
        run: make pofiles
      - name: Check for Untranslated or Fuzzy Strings
        run: ./check-translations.sh
      - name: Create Translated XML Files
        run: |
          echo 'MLANG=zh_CN' > local.mk
          make booksrc
          make -C zh_CN/book version
          sed '/git.status/,$ d' -i zh_CN/book/git-version.sh
          tar -C zh_CN -cf book.tar book
      - name: Upload Translated XML Files
        uses: actions/upload-artifact@v3
        with:
          name: lfs-xml-zh_CN
          path: book.tar
      - name: Prepare Auxilary Files
        run: |
          mkdir $HOME/aux-files
          cp setenv.sh $HOME/aux-files
          cp .known_hosts $HOME/aux-files
      - name: Upload Auxilary Files
        uses: actions/upload-artifact@v3
        with:
          name: aux-files
          path: ~/aux-files

  build-sysv-html:
    needs: xml-translation
    name: Build Chunked HTML (sysv, zh_CN)
    runs-on: ubuntu-22.04
    steps:
      - name: Prepare
        run: |
          sudo apt update
          sudo apt install xsltproc libxml2-utils docbook-xml docbook-xsl tidy
      - name: Fetch XML
        uses: actions/download-artifact@v3
        with:
          name: lfs-xml-zh_CN
          path: ~/lfs-xml-zh_CN
      - name: Untar XML
        run: |
          tar -C ~/lfs-xml-zh_CN --strip-components=1 -xf ~/lfs-xml-zh_CN/book.tar
      - name: Generate Translated Book
        run: |
          make REV=sysv book -C ~/lfs-xml-zh_CN BASEDIR=~/lfs-sysv-zh_CN
          tar -C $HOME -cJf lfs-sysv-zh_CN.tar.xz lfs-sysv-zh_CN
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: lfs-sysv-zh_CN-html
          path: lfs-sysv-zh_CN.tar.xz

  upload-sysv-html:
    if: github.event_name != 'pull_request'
    needs: build-sysv-html
    name: Upload Chunked HTML (sysv, zh_CN)
    runs-on: ubuntu-22.04
    steps:
      - name: Prepare SSH Key
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Fetch the Book
        uses: actions/download-artifact@v3
        with:
          name: lfs-sysv-zh_CN-html
          path: ~/lfs-sysv-zh_CN-html
      - name: Fetch Auxilary Files
        uses: actions/download-artifact@v3
        with:
          name: aux-files
          path: ~/aux-files
      - name: Set SSH Host Key
        run:
          cat ~/aux-files/.known_hosts >> ~/.ssh/known_hosts
      - name: Set Environment
        run: sh ~/aux-files/setenv.sh "${GITHUB_REF}"
      - name: Upload the Book
        run: |
          scp ~/lfs-sysv-zh_CN-html/lfs-sysv-zh_CN.tar.xz "lfsbook@xry111.site:/tmp/lfs-sysv-zh_CN.tar.xz"
          ssh "lfsbook@xry111.site" "/usr/local/bin/update-lfs" "/tmp/lfs-sysv-zh_CN.tar.xz" "/var/www/xry111/lfs/zh_CN/${SYSV}"

  build-systemd-html:
    needs: xml-translation
    name: Build Chunked HTML (systemd, zh_CN)
    runs-on: ubuntu-22.04
    steps:
      - name: Prepare
        run: |
          sudo apt update
          sudo apt install xsltproc libxml2-utils docbook-xml docbook-xsl tidy
      - name: Fetch XML
        uses: actions/download-artifact@v3
        with:
          name: lfs-xml-zh_CN
          path: ~/lfs-xml-zh_CN
      - name: Untar XML
        run: |
          tar -C ~/lfs-xml-zh_CN --strip-components=1 -xf ~/lfs-xml-zh_CN/book.tar
      - name: Generate Translated Book
        run: |
          make REV=systemd book -C ~/lfs-xml-zh_CN BASEDIR=~/lfs-systemd-zh_CN
          tar -C $HOME -cJf lfs-systemd-zh_CN.tar.xz lfs-systemd-zh_CN
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: lfs-systemd-zh_CN-html
          path: lfs-systemd-zh_CN.tar.xz

  upload-systemd-html:
    if: github.event_name != 'pull_request'
    needs: build-systemd-html
    name: Upload Chunked HTML (systemd, zh_CN)
    runs-on: ubuntu-22.04
    steps:
      - name: Prepare SSH Key
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Fetch the Book
        uses: actions/download-artifact@v3
        with:
          name: lfs-systemd-zh_CN-html
          path: ~/lfs-systemd-zh_CN-html
      - name: Fetch Auxilary Files
        uses: actions/download-artifact@v3
        with:
          name: aux-files
          path: ~/aux-files
      - name: Set SSH Host Key
        run:
          cat ~/aux-files/.known_hosts >> ~/.ssh/known_hosts
      - name: Set Environment
        run: sh ~/aux-files/setenv.sh "${GITHUB_REF}"
      - name: Upload the Book
        run: |
          scp ~/lfs-systemd-zh_CN-html/lfs-systemd-zh_CN.tar.xz "lfsbook@xry111.site:/tmp/lfs-systemd-zh_CN.tar.xz"
          ssh "lfsbook@xry111.site" "/usr/local/bin/update-lfs" "/tmp/lfs-systemd-zh_CN.tar.xz" "/var/www/xry111/lfs/zh_CN/${SYSD}"

  build-sysv-nochunks:
    needs: xml-translation
    name: Build Single Page HTML (sysv, zh_CN)
    runs-on: ubuntu-22.04
    steps:
      - name: Prepare
        run: |
          sudo apt update
          sudo apt install xsltproc libxml2-utils docbook-xml docbook-xsl tidy
      - name: Fetch XML
        uses: actions/download-artifact@v3
        with:
          name: lfs-xml-zh_CN
          path: ~/lfs-xml-zh_CN
      - name: Untar XML
        run: |
          tar -C ~/lfs-xml-zh_CN --strip-components=1 -xf ~/lfs-xml-zh_CN/book.tar
      - name: Generate Translated Book
        run: |
          make REV=sysv nochunks -C ~/lfs-xml-zh_CN BASEDIR=~/lfs-sysv-zh_CN
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: lfs-sysv-zh_CN-nochunks
          path: ~/lfs-sysv-zh_CN/LFS-BOOK.html

  # attention: upload-sysv-{nochunks,pdf} must be scheduled after
  # upload-sysv-html, because the latter will delete and recreate the
  # directory containing the book.  For systemd, likewise.
  upload-sysv-nochunks:
    if: github.event_name != 'pull_request'
    needs: [build-sysv-nochunks, upload-sysv-html]
    name: Upload Single Page HTML (sysv, zh_CN)
    runs-on: ubuntu-22.04
    steps:
      - name: Prepare SSH Key
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Fetch the Book
        uses: actions/download-artifact@v3
        with:
          name: lfs-sysv-zh_CN-nochunks
          path: ~/lfs-sysv-zh_CN-nochunks
      - name: Fetch Auxilary Files
        uses: actions/download-artifact@v3
        with:
          name: aux-files
          path: ~/aux-files
      - name: Set SSH Host Key
        run:
          cat ~/aux-files/.known_hosts >> ~/.ssh/known_hosts
      - name: Set Environment
        run: sh ~/aux-files/setenv.sh "${GITHUB_REF}"
      - name: Upload the Book
        run: |
          scp ~/lfs-sysv-zh_CN-nochunks/LFS-BOOK.html "lfsbook@xry111.site:/var/www/xry111/lfs/zh_CN/${SYSV}"

  build-systemd-nochunks:
    needs: xml-translation
    name: Build Single Page HTML (systemd, zh_CN)
    runs-on: ubuntu-22.04
    steps:
      - name: Prepare
        run: |
          sudo apt update
          sudo apt install xsltproc libxml2-utils docbook-xml docbook-xsl tidy
      - name: Fetch XML
        uses: actions/download-artifact@v3
        with:
          name: lfs-xml-zh_CN
          path: ~/lfs-xml-zh_CN
      - name: Untar XML
        run: |
          tar -C ~/lfs-xml-zh_CN --strip-components=1 -xf ~/lfs-xml-zh_CN/book.tar
      - name: Generate Translated Book
        run: |
          make REV=systemd nochunks -C ~/lfs-xml-zh_CN BASEDIR=~/lfs-systemd-zh_CN
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: lfs-systemd-zh_CN-nochunks
          path: ~/lfs-systemd-zh_CN/LFS-SYSD-BOOK.html

  upload-systemd-nochunks:
    if: github.event_name != 'pull_request'
    needs: [build-systemd-nochunks, upload-systemd-html]
    name: Upload Single Page HTML (systemd, zh_CN)
    runs-on: ubuntu-22.04
    steps:
      - name: Prepare SSH Key
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Fetch the Book
        uses: actions/download-artifact@v3
        with:
          name: lfs-systemd-zh_CN-nochunks
          path: ~/lfs-systemd-zh_CN-nochunks
      - name: Fetch Auxilary Files
        uses: actions/download-artifact@v3
        with:
          name: aux-files
          path: ~/aux-files
      - name: Set SSH Host Key
        run:
          cat ~/aux-files/.known_hosts >> ~/.ssh/known_hosts
      - name: Set Environment
        run: sh ~/aux-files/setenv.sh "${GITHUB_REF}"
      - name: Upload the Book
        run: |
          scp ~/lfs-systemd-zh_CN-nochunks/LFS-SYSD-BOOK.html "lfsbook@xry111.site:/var/www/xry111/lfs/zh_CN/${SYSD}"

  build-sysv-pdf:
    needs: xml-translation
    name: Build PDF (sysv, zh_CN)
    runs-on: ubuntu-22.04
    steps:
      - name: Prepare
        run: |
          sudo apt update
          sudo apt install xsltproc libxml2-utils docbook-xml docbook-xsl fop
      - name: Fetch XML
        uses: actions/download-artifact@v3
        with:
          name: lfs-xml-zh_CN
          path: ~/lfs-xml-zh_CN
      - name: Untar XML
        run: |
          tar -C ~/lfs-xml-zh_CN --strip-components=1 -xf ~/lfs-xml-zh_CN/book.tar
      - name: Generate Translated Book
        run: |
          make REV=sysv pdf -C ~/lfs-xml-zh_CN BASEDIR=~/lfs-sysv-zh_CN
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: lfs-sysv-zh_CN-pdf
          path: ~/lfs-sysv-zh_CN/LFS-BOOK.pdf

  upload-sysv-pdf:
    if: github.event_name != 'pull_request'
    needs: [build-sysv-pdf, upload-sysv-html]
    name: Upload PDF (sysv, zh_CN)
    runs-on: ubuntu-22.04
    steps:
      - name: Prepare SSH Key
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Fetch the Book
        uses: actions/download-artifact@v3
        with:
          name: lfs-sysv-zh_CN-pdf
          path: ~/lfs-sysv-zh_CN-pdf
      - name: Fetch Auxilary Files
        uses: actions/download-artifact@v3
        with:
          name: aux-files
          path: ~/aux-files
      - name: Set SSH Host Key
        run:
          cat ~/aux-files/.known_hosts >> ~/.ssh/known_hosts
      - name: Set Environment
        run: sh ~/aux-files/setenv.sh "${GITHUB_REF}"
      - name: Upload the Book
        run: |
          scp ~/lfs-sysv-zh_CN-pdf/LFS-BOOK.pdf "lfsbook@xry111.site:/var/www/xry111/lfs/zh_CN/${SYSV}"

  build-systemd-pdf:
    needs: xml-translation
    name: Build PDF (systemd, zh_CN)
    runs-on: ubuntu-22.04
    steps:
      - name: Prepare
        run: |
          sudo apt update
          sudo apt install xsltproc libxml2-utils docbook-xml docbook-xsl fop
      - name: Fetch XML
        uses: actions/download-artifact@v3
        with:
          name: lfs-xml-zh_CN
          path: ~/lfs-xml-zh_CN
      - name: Untar XML
        run: |
          tar -C ~/lfs-xml-zh_CN --strip-components=1 -xf ~/lfs-xml-zh_CN/book.tar
      - name: Generate Translated Book
        run: |
          make REV=systemd pdf -C ~/lfs-xml-zh_CN BASEDIR=~/lfs-systemd-zh_CN
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: lfs-systemd-zh_CN-pdf
          path: ~/lfs-systemd-zh_CN/LFS-SYSD-BOOK.pdf

  upload-systemd-pdf:
    if: github.event_name != 'pull_request'
    needs: [build-systemd-pdf, upload-systemd-html]
    name: Upload PDF (systemd, zh_CN)
    runs-on: ubuntu-22.04
    steps:
      - name: Prepare SSH Key
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Fetch the Book
        uses: actions/download-artifact@v3
        with:
          name: lfs-systemd-zh_CN-pdf
          path: ~/lfs-systemd-zh_CN-pdf
      - name: Fetch Auxilary Files
        uses: actions/download-artifact@v3
        with:
          name: aux-files
          path: ~/aux-files
      - name: Set SSH Host Key
        run:
          cat ~/aux-files/.known_hosts >> ~/.ssh/known_hosts
      - name: Set Environment (Push)
        run: sh ~/aux-files/setenv.sh "${GITHUB_REF}"
      - name: Upload the Book
        run: |
          scp ~/lfs-systemd-zh_CN-pdf/LFS-SYSD-BOOK.pdf "lfsbook@xry111.site:/var/www/xry111/lfs/zh_CN/${SYSD}"
